<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--con esto tenemos uso de vue
        pero para hacer uso de el ay que crear una instancia vue-->
</head>

<body>
    <div id="app">
        <!-- Favorites -->
        <div class="favorites">
        </div>

        <!-- Content -->
        <article class="content">

            <h1 class="content__title">Search GitHub users</h1>
            <!-- Search -->
            <!-- v-on:submit.prevent="doSearch" conectamos el for a la funcion doSearch que esta en methods -->
            <form class="search" v-on:submit.prevent="doSearch">
                <!-- v-model="search" conecta el input con el modelo search -->
                <input v-model="search" type="text" class="search__input" required placeholder="Search GitHub users">
                <input type="submit" class="search__submit" value="Search">
            </form>

            <!-- Result -->
            <div class="result" v-if="result">
                <h2 class="result__name">ROBER-SALAMA</h2>
                <img src="https://scontent.fsal1-1.fna.fbcdn.net/v/t39.30808-6/315414601_1190952154839562_2489269123823947884_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=TAr7VEs8K9EAX_dtMS9&_nc_ht=scontent.fsal1-1.fna&oh=00_AfBchgMc-wMs44rOUV0dNf0YTZuxVwLSwvZTuEIfSEbbdg&oe=64CED5A0" alt="foto" class="result__avatar">
                <p class="result__bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Minima soluta quos excepturi officiis harum dolor atque aliquid suscipit porro, 
                    vero voluptatem cum incidunt rerum deleniti reprehenderit labore illo provident possimus!
                    <a href="https://github.com/ROBER-SALAMA?tab=repositories" class="result__blog">https://github.com/ROBER-SALAMA?tab=repositories</a>
                </p>
                    <br>
                    
            </div>
            <!-- Error -->
            <div class="result__error"></div>
        </article>
    </div>
    <script src="js/main.js"></script>
    <script>
        const mountedApp = App.mount("#app")
    </script>
</body>

</html>